<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groceries</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
</head>
<body>
    
    <div class="container" >
        <div class="controlBtn">
            <h1>GROCERIES</h1>
            <button id="countSortBtn">SORT BY COUNT</button>
            <button id="predictonSortBtn">SORT BY PREDICTION</button>
            <!-- <button id="scrapeBtn">scrape</button> -->
        </div>
        <canvas id="myChart" width="1000" height="800"></canvas>
        
        <div class="last-order-date">last order date: {{ last_order_date }}</div>
    </div>
   
    <script>
        let groceriesDataByCount = {
            data: {
                labels: [ {% for elem in data.by_count %} "{{ elem.name }}", {% endfor %} ],
                datasets: [
                    {
                        label: 'count',
                        data: [ {% for elem in data.by_count %} "{{ elem.count }}", {% endfor %} ],
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                    },
                    {
                        label: 'prediction(%)',
                        data: [ {% for elem in data.by_count %} "{{ elem.prediction }}", {% endfor %} ],
                        backgroundColor: 'rgba(75, 192, 192)',
                        borderColor: 'rgba(75, 192, 192)',
                    },
                ]
            },
            // tooltip content
            cycle: [ {% for elem in data.by_count %} "{{ elem.cycle }}", {% endfor %} ],
            date_list: [ {% for elem in data.by_count %} [ {% for date in elem.date_list %} "{{ date }}", {% endfor %} ], {% endfor %} ],
        }

        let groceriesDataByPrediction = {
            data: {
                labels: [ {% for elem in data.by_prediction %} "{{ elem.name }}", {% endfor %} ],
                datasets: [
                    {
                        label: 'count',
                        data: [ {% for elem in data.by_prediction %} "{{ elem.count }}", {% endfor %} ],
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                    },
                    {
                        label: 'prediction(%)',
                        data: [ {% for elem in data.by_prediction %} "{{ elem.prediction }}", {% endfor %} ],
                        backgroundColor: 'rgba(75, 192, 192)',
                        borderColor: 'rgba(75, 192, 192)',
                    },
                ]
            },
            // tooltip content
            cycle: [ {% for elem in data.by_prediction %} "{{ elem.cycle }}", {% endfor %} ],
            date_list: [ {% for elem in data.by_prediction %} [ {% for date in elem.date_list %} "{{ date }}", {% endfor %} ], {% endfor %} ],
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/scripts/chart-controller.js"></script>

</body>
</html>